
.navbar ul {
    list-style-type: none;
    background-color: rgb(255, 231, 243);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a {
    color: rgb(255, 248, 184);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: rgba(255, 205, 205, 0.824);
}

.outlinetext {
    color:rgb(255, 248, 184);
    -webkit-text-stroke: 0.3px rgb(206, 109, 135);
    font-size: 20px;
    text-decoration: none;
}

.navbar li {
    float: left;
}

.title {
    font-size: 70px;
    position: relative;
    bottom: -20px;
    color: rgb(255, 217, 243);
    -webkit-text-stroke: 0.05px rgb(206, 109, 135);

}

.subtext {
    position: relative;
    bottom: -45px;
    
}

.movesong {
    position: relative;
    bottom: -60px;
    margin-left: 85px;
    font-size: 20px;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
}

.container2 {
    display: flex;
    justify-content: space-evenly;
}

.container3 {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color:rgb(209, 245, 196);
    -webkit-text-stroke: 0.3px rgb(206, 109, 135);
    font-size: 20px;
}

.fontsize {
    font-size: 16px;
}

.moveartist {
    position: relative;
    bottom: 20px;
    margin-left: 85px;
    font-size: 20px;
}

img {
    border-radius: 15px;
}
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}
.fa:hover {
  color: darkblue;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

tr {
    padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;  
}

.floatright {
    position: relative;
    bottom: 309px;
    float: right;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.textArtist {
    display:inline-block;
    width: 200px;
    height: 50px;
    padding: 5px;
    border: 5px solid rgb(255, 217, 243);
}

.movetitle {
    position:relative;
    bottom:20px;
}

.roww {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 300px;
}

.boxx {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0 0 calc(50% - 10px); 
}